.login-header {
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: -5%;
  opacity: 0.9;
  height: 70px;
  display: flex;
  padding-bottom: 2%;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background: white;
}

.login-logo {
  width: 30%;
}

.login-header .user {
  margin: 1% 10% 0 0;
  color: #4267b2;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 5%;
  align-items: center;
}

.field {
  margin: 5% 0;
}

.field input {
  width: 100%;
  height: 40px;
  border-radius: 2%;
}

.login-submit {
  text-align: center;
  background: white;
  color: #4267b2;
  font-weight: bold;
  border: 3px solid #4267b2;
  cursor: pointer;
}

.login-submit:hover {
  color: white;
  background: #4267b2;
}

.remember-me {
  display: flex;
  justify-content: space-between;
}

.login-div {
  border-radius: 2%;
  border: 2px solid #4267b2;
  width: 25%;
  padding: 2%;
  background: white;
}
